* {
    box-sizing: content-box;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;
}

.topbar {
    background-color: #222426;
}
.topbar__logoholder{
    color:#ffffff;
    display:inline-block;
    vertical-align:top;
    font-family:'kefa';
    margin-top:12px;
}
.topbar__logoholder__logofont
{
    font-family:'Arial Hebrew Scholar';
    font-size:16px;
}
.topbar__topbarholder {
    box-sizing: content-box;
    margin: 0 auto;
    width: 1060px;

}

.toplogo {
    height: 35px;
    width: 200px;
}

.top__logo__img {
    max-height: 100%;
    max-width: 100%;
}

.topbar__topbarholder__rightcorner {
    color: #ffffff;
    float: right;
}

.topbar__topbarholder__rightcorner__profile {
    cursor: pointer;
    display: inline-block;
    height: 34px;
    margin-bottom:2px;
    margin-top: 5px;
    vertical-align: top;
    width: 34px;
}

.topbar__topbarholder__rightcorner__profile__profileimage {
    border-radius:50%;
    max-height: 100%;
    max-width: 100%;

}

.topbar__topbarholder__rightcorner__searchcontainer {
    display: inline-block;
    height: 34px;
    margin-left: 10px;
    vertical-align: top;
 
}

.searchform__searchbox {
    font-size: 13px;
    line-height: 1.5;
    margin-top: 8px;
    max-width: 188px;
    padding-left: 25px;
    width: 188px;

}

#search {
    display: inline-block;
}

#searchicon {
    color: #ccc;
    left: 25px;
    position: relative;
}

.header {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 10px 15px;
    position: relative;
    width: 1060px;
// border: 1 px solid;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
}

.header__logo {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 50px;
    width: 200px;
}

.header__logo__image {
    max-height: 100%;
    max-width: 100%;
}

.header__tabs {
    display: inline-block;
    float: right;
}

ul {
    list-style: none;
    margin-bottom: 16px;
    margin-top: 16px;
    padding-left: 0px;
}

.header__tabs__options {
    background-color: #9ea3a9;
    border-radius:3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.3;
    padding: 4px 10px 5px;
    transition: background-color 0.15s ease;

}

.header__tabs__options:hover {
    background-color: #f69c55;
}

#header a {
    color: #ffffff;
    text-decoration:none;
}
#header a:hover{
    color:#ffffff;
    text-decoration: none;
}
.g-signin2 {
    display: inline-block;
   padding-top: 9px;

}
#signin2{
    display: inline-block;
    height:23px;
    margin-left:10px;
    width:150px;
    padding-top: 8px;
}
.signout {
    box-sizing: content-box;
    color: #0095ff;
    display: none;
    margin-left:10px;
    margin-top: 1px;
    vertical-align: top;
    width: 150px;
}

.signout a {
    color: #ffffff;
}
.signout__button{
    background-color:#9ea3a9;
    height:23px;
    margin-top:8px;

    width:150px;
}

#profile-name {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 3px;
}

